{# This template is included by cron-main.sh.j2 #}

log "DB dump"

run mysqldump --user donalo -p{{ database_password }} --databases {{ backups_role_db_name }} | gzip > {{ backups_role_tmp_path }}/pg_dump_{{ backups_role_db_name }}.sql.gz

log "Compress assets"

run sudo tar -czvf {{ backups_role_tmp_path }}/assets.tar.gz {{ backups_role_assets_path }}
